Abiy

In [39]:
#!pip install python-dotenv decorator==4.3 networkx
#!pip install pycoingecko
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import pprint
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

%matplotlib inline

In [40]:
# Load .env environment variables
load_dotenv()
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [41]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [42]:
# Format current date as ISO format
start_date = pd.Timestamp("2019-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-06-05", tz="America/New_York").isoformat()

In [59]:
# Set the tickers
tickers = ["AAPL","AMZN", "BA","NVDA","BRK.A","GS","COP","GILD","CCOI","PROC","TLT","VGLT","VOOG","VMBS","AGZ","IWF","IGSB","GOVT","BTC","ETH"]

In [60]:
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"
data_set= (tickers, timeframe, start_date, end_date)

In [61]:
# Set the number of years of data to fetch
num_years = 20

lim = 1000
num_days_data_needed = num_years * 252
def format_date_iso(date):
    return pd.Timestamp(date, tz="America/New_York").isoformat()

        
# Get current closing prices of client portfolio
portfolio_prices_df = pd.DataFrame()
# Get current closing prices of optimazed portfolio
prices_df = pd.DataFrame()
# Get closing prices of client portfolio from alpaca
portfolio_prices_df = alpaca.get_barset(tickers,timeframe,start = start_date,end = end_date,limit=lim).df
#creating optimazed daily returns dataframe
portfolio_daily_returns=pd.DataFrame()
#Create optimazed portfolio an empty `closing_prices_df` DataFrame using Pandas
closing_prices_df = pd.DataFrame()
#get portfolio client cumulative portfolio
portfolio_cumulative_returns=pd.DataFrame()
#Analyzing portfolio cumulative returns
client_portfolio_cumulative_returns=(1 + portfolio_daily_returns).cumprod()                                       
portfolio_cumulative_returns=(1 + portfolio_daily_returns).cumprod()

# Display sample data
portfolio_prices_df.sort_index(inplace=True)
display(portfolio_prices_df.head())
display(portfolio_prices_df.tail())

                             AAPL                                       \
                             open      high      low   close    volume
time
2019-05-01 04:00:00+00:00  209.88  215.3100  209.230  210.52  57751414
2019-05-02 04:00:00+00:00  209.84  212.6500  208.130  209.17  29014844
2019-05-03 04:00:00+00:00  210.74  211.8400  210.230  211.78  17987793
2019-05-06 04:00:00+00:00  204.29  208.8400  203.500  208.60  28949691
2019-05-07 04:00:00+00:00  205.88  207.4175  200.825  202.86  34328425

                              AGZ                                     ...  \
                             open      high       low   close volume  ...
time                                                                  ...
2019-05-01 04:00:00+00:00  113.08  113.3437  113.0502  113.07  21867  ...
2019-05-02 04:00:00+00:00  113.03  113.0300  112.8875  112.90  10060  ...
2019-05-03 04:00:00+00:00  113.04  113.0800  113.0400  113.05  11697  ...
2019-05-06 04:00:00+00:00  113.18  113.2337  113.1800  113.22   5450  ...
2019-05-07 04:00:00+00:00  113.22  113.3600  113.2200  113.35   6668  ...

                            VMBS                                       VOOG  \
                            open     high      low   close   volume    open
time
2019-05-01 04:00:00+00:00  52.05  52.1800  51.9838  52.050   645283  161.15
2019-05-02 04:00:00+00:00  52.04  52.0499  51.9700  52.040   669100  159.18
2019-05-03 04:00:00+00:00  52.07  52.1400  52.0700  52.085   401507  159.86
2019-05-06 04:00:00+00:00  52.15  52.1700  52.1200  52.145   347995  157.98
2019-05-07 04:00:00+00:00  52.16  52.1900  52.1300  52.185  1112409  158.71


                               high       low   close    volume
time
2019-05-01 04:00:00+00:00  161.1500  159.1500  159.15   99025.0
2019-05-02 04:00:00+00:00  159.5425  157.8400  158.85   74749.0
2019-05-03 04:00:00+00:00  160.8100  159.7125  160.69   89219.0
2019-05-06 04:00:00+00:00  160.3400  157.8920  160.18  101374.0
2019-05-07 04:00:00+00:00  159.1100  156.2200  157.46  141574.0

[5 rows x 100 columns]

                             AAPL                                        AGZ  \
                             open    high     low    close    volume    open
time
2021-05-28 04:00:00+00:00  125.57  125.80  124.55  124.620  61946057  118.24
2021-06-01 04:00:00+00:00  125.07  125.35  123.94  124.300  58891765  118.13
2021-06-02 04:00:00+00:00  124.29  125.24  124.05  125.090  51393692  118.34
2021-06-03 04:00:00+00:00  124.66  124.85  123.13  123.555  68331470  118.20
2021-06-04 04:00:00+00:00  124.07  126.16  123.85  125.880  63613126  118.19

                                                            ...     VMBS  \
                             high       low   close volume  ...     open
time                                                        ...
2021-05-28 04:00:00+00:00  118.39  118.2400  118.34  38588  ...  53.4400
2021-06-01 04:00:00+00:00  118.20  118.1200  118.18  31174  ...  53.4233
2021-06-02 04:00:00+00:00  118.34  118.2400  118.26  14638  ...  53.4700
2021-06-03 04:00:00+00:00  118.20  118.1258  118.17  13757  ...  53.3500
2021-06-04 04:00:00+00:00  118.38  118.1900  118.33  62693  ...  53.4300

                                                                VOOG  \
                              high      low   close   volume    open
time
2021-05-28 04:00:00+00:00  53.4894  53.4400  53.450   778448  249.16
2021-06-01 04:00:00+00:00  53.4400  53.3868  53.440  1386053  249.79
2021-06-02 04:00:00+00:00  53.4700  53.4200  53.420   984563  247.84
2021-06-03 04:00:00+00:00  53.4000  53.3500  53.385   693828  246.09
2021-06-04 04:00:00+00:00  53.4700  53.3805  53.450   947717  247.37


                               high      low   close   volume
time
2021-05-28 04:00:00+00:00  249.9187  248.550  248.64  42638.0
2021-06-01 04:00:00+00:00  249.7900  247.235  247.41  69932.0
2021-06-02 04:00:00+00:00  248.5476  246.905  247.85  39023.0
2021-06-03 04:00:00+00:00  246.9300  244.960  246.05  53405.0
2021-06-04 04:00:00+00:00  249.6100  247.370  249.35  38915.0

[5 rows x 100 columns]

In [62]:
#Based on Risk level
#Investments That Provide Various Levels Of Risk & Return

In [66]:
#Zero risk portfolio: Treasury bonds held to maturity, money market accounts, and CDs where the FDIC guarantees up to $250,000 in losses per person.
#  Treasury bonds(100% )
zero_risk=portfolio_prices_df[["TLT","VGLT","VOOG","VMBS","IWF","IGSB","GOVT","AGZ"]]
zero_risk

                               TLT                                         \
                              open     high      low    close      volume
time
2019-05-01 04:00:00+00:00  123.690  124.450  123.600  123.880  11709164.0
2019-05-02 04:00:00+00:00  123.680  123.810  123.040  123.310   6068909.0
2019-05-03 04:00:00+00:00  123.660  123.875  123.370  123.625   4842286.0
2019-05-06 04:00:00+00:00  124.310  124.380  123.925  124.000   3991444.0
2019-05-07 04:00:00+00:00  124.530  125.140  124.390  124.940   7207003.0
...                            ...      ...      ...      ...         ...
2021-05-28 04:00:00+00:00  138.582  139.300  138.340  138.340   9346538.0
2021-06-01 04:00:00+00:00  137.820  138.260  137.250  138.220   9842975.0
2021-06-02 04:00:00+00:00  138.540  138.790  138.320  138.510   5597133.0
2021-06-03 04:00:00+00:00  138.510  138.510  137.845  138.002   9221502.0
2021-06-04 04:00:00+00:00  138.520  139.890  138.520  139.885  13573285.0

                             VGLT                                     ...  \
                             open    high      low   close    volume  ...
time                                                                  ...
2019-05-01 04:00:00+00:00  76.070  76.540  76.0100  76.170  401923.0  ...
2019-05-02 04:00:00+00:00  76.050  76.135  75.6864  75.830   74290.0  ...
2019-05-03 04:00:00+00:00  76.070  76.160  75.8930  76.060   54630.0  ...
2019-05-06 04:00:00+00:00  76.460  76.500  76.2500  76.290  427971.0  ...
2019-05-07 04:00:00+00:00  76.590  76.950  76.5168  76.860  140207.0  ...
...                           ...     ...      ...     ...       ...  ...
2021-05-28 04:00:00+00:00  84.420  84.830  84.3200  84.320  481233.0  ...
2021-06-01 04:00:00+00:00  83.970  84.190  83.6300  84.180  514608.0  ...
2021-06-02 04:00:00+00:00  84.350  84.500  84.2400  84.338  382701.0  ...
2021-06-03 04:00:00+00:00  84.325  84.340  83.9600  84.050  464158.0  ...
2021-06-04 04:00:00+00:00  84.380  85.140  84.3800  85.140  436257.0  ...

                            GOVT                                      AGZ  \
                            open     high    low   close   volume    open
time
2019-05-01 04:00:00+00:00  25.07  25.5000  25.03  25.050  4004931  113.08
2019-05-02 04:00:00+00:00  25.05  25.0500  24.99  25.020  4097532  113.03
2019-05-03 04:00:00+00:00  25.04  25.0578  25.02  25.040  1527739  113.04
2019-05-06 04:00:00+00:00  25.10  25.1000  25.07  25.080  1518542  113.18
2019-05-07 04:00:00+00:00  25.12  25.1500  25.10  25.140  1727551  113.22
...                          ...      ...    ...     ...      ...     ...
2021-05-28 04:00:00+00:00  26.37  26.4200  26.35  26.360  4069920  118.24
2021-06-01 04:00:00+00:00  26.34  26.3550  26.30  26.345  3061947  118.13
2021-06-02 04:00:00+00:00  26.36  26.3800  26.35  26.370  3254388  118.34
2021-06-03 04:00:00+00:00  26.35  26.3550  26.31  26.325  2178352  118.20
2021-06-04 04:00:00+00:00  26.36  26.4373  26.36  26.435  3701116  118.19


                               high       low   close volume
time
2019-05-01 04:00:00+00:00  113.3437  113.0502  113.07  21867
2019-05-02 04:00:00+00:00  113.0300  112.8875  112.90  10060
2019-05-03 04:00:00+00:00  113.0800  113.0400  113.05  11697
2019-05-06 04:00:00+00:00  113.2337  113.1800  113.22   5450
2019-05-07 04:00:00+00:00  113.3600  113.2200  113.35   6668
...                             ...       ...     ...    ...
2021-05-28 04:00:00+00:00  118.3900  118.2400  118.34  38588
2021-06-01 04:00:00+00:00  118.2000  118.1200  118.18  31174
2021-06-02 04:00:00+00:00  118.3400  118.2400  118.26  14638
2021-06-03 04:00:00+00:00  118.2000  118.1258  118.17  13757
2021-06-04 04:00:00+00:00  118.3800  118.1900  118.33  62693

[529 rows x 40 columns]

In [64]:
#Lower Risk portfolio (80% bonds and 20% stocks)

In [70]:
lower_risk_portfolio = portfolio_prices_df[["TLT","VGLT","VOOG","VMBS","IWF","IGSB","GOVT","AGZ","AAPL","AMZN"]]
lower_risk_portfolio.head()

                              TLT                                         \
                             open     high      low    close      volume
time
2019-05-01 04:00:00+00:00  123.69  124.450  123.600  123.880  11709164.0
2019-05-02 04:00:00+00:00  123.68  123.810  123.040  123.310   6068909.0
2019-05-03 04:00:00+00:00  123.66  123.875  123.370  123.625   4842286.0
2019-05-06 04:00:00+00:00  124.31  124.380  123.925  124.000   3991444.0
2019-05-07 04:00:00+00:00  124.53  125.140  124.390  124.940   7207003.0

                            VGLT                                    ...  \
                            open    high      low  close    volume  ...
time                                                                ...
2019-05-01 04:00:00+00:00  76.07  76.540  76.0100  76.17  401923.0  ...
2019-05-02 04:00:00+00:00  76.05  76.135  75.6864  75.83   74290.0  ...
2019-05-03 04:00:00+00:00  76.07  76.160  75.8930  76.06   54630.0  ...
2019-05-06 04:00:00+00:00  76.46  76.500  76.2500  76.29  427971.0  ...
2019-05-07 04:00:00+00:00  76.59  76.950  76.5168  76.86  140207.0  ...

                             AAPL                                       \
                             open      high      low   close    volume
time
2019-05-01 04:00:00+00:00  209.88  215.3100  209.230  210.52  57751414
2019-05-02 04:00:00+00:00  209.84  212.6500  208.130  209.17  29014844
2019-05-03 04:00:00+00:00  210.74  211.8400  210.230  211.78  17987793
2019-05-06 04:00:00+00:00  204.29  208.8400  203.500  208.60  28949691
2019-05-07 04:00:00+00:00  205.88  207.4175  200.825  202.86  34328425

                              AMZN
                              open       high        low    close   volume
time
2019-05-01 04:00:00+00:00  1933.09  1943.6400  1910.5500  1911.29  2814558
2019-05-02 04:00:00+00:00  1913.33  1921.5500  1881.8700  1901.72  3641665
2019-05-03 04:00:00+00:00  1949.00  1964.4000  1936.0000  1961.76  5687567
2019-05-06 04:00:00+00:00  1917.98  1959.0000  1910.5000  1950.29  4911645
2019-05-07 04:00:00+00:00  1939.99  1949.1005  1903.3795  1922.58  5451477

[5 rows x 50 columns]

In [71]:
#Low Medium Risk portfolio(60% bonds and 40% stocks)
low_medium_risk_portfolio=portfolio_prices_df[["TLT","VGLT","VOOG","VMBS","IWF","IGSB","AAPL","AMZN","BA","NVDA"]]
low_medium_risk_portfolio

                               TLT                                         \
                              open     high      low    close      volume
time
2019-05-01 04:00:00+00:00  123.690  124.450  123.600  123.880  11709164.0
2019-05-02 04:00:00+00:00  123.680  123.810  123.040  123.310   6068909.0
2019-05-03 04:00:00+00:00  123.660  123.875  123.370  123.625   4842286.0
2019-05-06 04:00:00+00:00  124.310  124.380  123.925  124.000   3991444.0
2019-05-07 04:00:00+00:00  124.530  125.140  124.390  124.940   7207003.0
...                            ...      ...      ...      ...         ...
2021-05-28 04:00:00+00:00  138.582  139.300  138.340  138.340   9346538.0
2021-06-01 04:00:00+00:00  137.820  138.260  137.250  138.220   9842975.0
2021-06-02 04:00:00+00:00  138.540  138.790  138.320  138.510   5597133.0
2021-06-03 04:00:00+00:00  138.510  138.510  137.845  138.002   9221502.0
2021-06-04 04:00:00+00:00  138.520  139.890  138.520  139.885  13573285.0

                             VGLT                                     ...  \
                             open    high      low   close    volume  ...
time                                                                  ...
2019-05-01 04:00:00+00:00  76.070  76.540  76.0100  76.170  401923.0  ...
2019-05-02 04:00:00+00:00  76.050  76.135  75.6864  75.830   74290.0  ...
2019-05-03 04:00:00+00:00  76.070  76.160  75.8930  76.060   54630.0  ...
2019-05-06 04:00:00+00:00  76.460  76.500  76.2500  76.290  427971.0  ...
2019-05-07 04:00:00+00:00  76.590  76.950  76.5168  76.860  140207.0  ...
...                           ...     ...      ...     ...       ...  ...
2021-05-28 04:00:00+00:00  84.420  84.830  84.3200  84.320  481233.0  ...
2021-06-01 04:00:00+00:00  83.970  84.190  83.6300  84.180  514608.0  ...
2021-06-02 04:00:00+00:00  84.350  84.500  84.2400  84.338  382701.0  ...
2021-06-03 04:00:00+00:00  84.325  84.340  83.9600  84.050  464158.0  ...
2021-06-04 04:00:00+00:00  84.380  85.140  84.3800  85.140  436257.0  ...

                               BA                                       \
                             open      high     low    close    volume
time
2019-05-01 04:00:00+00:00  378.53  381.1951  376.38  376.700   2472500
2019-05-02 04:00:00+00:00  375.50  377.6500  373.25  375.740   2284337
2019-05-03 04:00:00+00:00  376.08  377.9000  374.22  376.590   2363653
2019-05-06 04:00:00+00:00  367.88  372.4800  365.63  371.770   4198995
2019-05-07 04:00:00+00:00  366.33  367.7100  355.02  357.420   9209454
...                           ...       ...     ...      ...       ...
2021-05-28 04:00:00+00:00  247.55  248.9800  245.37  247.030  10430435
2021-06-01 04:00:00+00:00  252.61  255.6400  251.52  254.700  12768720
2021-06-02 04:00:00+00:00  255.60  258.3957  254.62  255.600  10115878
2021-06-03 04:00:00+00:00  252.98  254.8000  249.69  250.285   9833214
2021-06-04 04:00:00+00:00  251.57  251.7999  248.49  249.960   8439246

                             NVDA
                             open      high      low    close      volume
time
2019-05-01 04:00:00+00:00  183.11  184.8100  180.460  180.470   8264646.0
2019-05-02 04:00:00+00:00  180.86  184.8700  179.115  183.190   9268721.0
2019-05-03 04:00:00+00:00  183.53  183.9300  180.530  183.000   7697286.0
2019-05-06 04:00:00+00:00  175.50  180.3400  174.000  179.880   9872771.0
2019-05-07 04:00:00+00:00  177.90  177.9000  171.170  173.200  12958419.0
...                           ...       ...      ...      ...         ...
2021-05-28 04:00:00+00:00  620.29  651.0990  620.040  649.800  15268212.0
2021-06-01 04:00:00+00:00  650.88  655.5250  636.130  650.590  10915414.0
2021-06-02 04:00:00+00:00  649.91  676.7547  649.420  671.245  14245330.0
2021-06-03 04:00:00+00:00  668.01  690.3600  663.320  678.670  13465435.0
2021-06-04 04:00:00+00:00  684.49  706.4400  683.820  703.070  14631371.0

[529 rows x 50 columns]

In [58]:
#Medium Risk Portfolio (60% stocks and 40% bonds)

In [72]:
medium_risk_portfolio= portfolio_prices_df[["TLT","VGLT","VOOG","VMBS","AAPL","AMZN","BA","NVDA","BRK.A","GS"]]
medium_risk_portfolio

                               TLT                                         \
                              open     high      low    close      volume
time
2019-05-01 04:00:00+00:00  123.690  124.450  123.600  123.880  11709164.0
2019-05-02 04:00:00+00:00  123.680  123.810  123.040  123.310   6068909.0
2019-05-03 04:00:00+00:00  123.660  123.875  123.370  123.625   4842286.0
2019-05-06 04:00:00+00:00  124.310  124.380  123.925  124.000   3991444.0
2019-05-07 04:00:00+00:00  124.530  125.140  124.390  124.940   7207003.0
...                            ...      ...      ...      ...         ...
2021-05-28 04:00:00+00:00  138.582  139.300  138.340  138.340   9346538.0
2021-06-01 04:00:00+00:00  137.820  138.260  137.250  138.220   9842975.0
2021-06-02 04:00:00+00:00  138.540  138.790  138.320  138.510   5597133.0
2021-06-03 04:00:00+00:00  138.510  138.510  137.845  138.002   9221502.0
2021-06-04 04:00:00+00:00  138.520  139.890  138.520  139.885  13573285.0

                             VGLT                                     ...  \
                             open    high      low   close    volume  ...
time                                                                  ...
2019-05-01 04:00:00+00:00  76.070  76.540  76.0100  76.170  401923.0  ...
2019-05-02 04:00:00+00:00  76.050  76.135  75.6864  75.830   74290.0  ...
2019-05-03 04:00:00+00:00  76.070  76.160  75.8930  76.060   54630.0  ...
2019-05-06 04:00:00+00:00  76.460  76.500  76.2500  76.290  427971.0  ...
2019-05-07 04:00:00+00:00  76.590  76.950  76.5168  76.860  140207.0  ...
...                           ...     ...      ...     ...       ...  ...
2021-05-28 04:00:00+00:00  84.420  84.830  84.3200  84.320  481233.0  ...
2021-06-01 04:00:00+00:00  83.970  84.190  83.6300  84.180  514608.0  ...
2021-06-02 04:00:00+00:00  84.350  84.500  84.2400  84.338  382701.0  ...
2021-06-03 04:00:00+00:00  84.325  84.340  83.9600  84.050  464158.0  ...
2021-06-04 04:00:00+00:00  84.380  85.140  84.3800  85.140  436257.0  ...

                               BRK.A                                           \
                                open       high        low      close  volume
time
2019-05-01 04:00:00+00:00  325700.00  328012.75  324925.72  325100.00   259.0
2019-05-02 04:00:00+00:00  325000.00  326557.34  322860.75  323595.00   193.0
2019-05-03 04:00:00+00:00  326000.00  328555.00  325385.00  327595.00   244.0
2019-05-06 04:00:00+00:00  322100.00  322250.00  317390.00  319990.00   604.0
2019-05-07 04:00:00+00:00  316399.90  317754.97  312000.00  315000.00   650.0
...                              ...        ...        ...        ...     ...
2021-05-28 04:00:00+00:00  435623.00  436429.90  433636.50  434900.00  1317.0
2021-06-01 04:00:00+00:00  438717.56  439100.00  434254.50  435553.90  1700.0
2021-06-02 04:00:00+00:00  437555.50  437950.00  434647.40  435638.60  1868.0
2021-06-03 04:00:00+00:00  433050.06  440157.50  433050.06  438615.75  2025.0
2021-06-04 04:00:00+00:00  441063.00  441063.00  437769.00  439431.06  1367.0

                               GS
                             open      high       low   close   volume
time
2019-05-01 04:00:00+00:00  206.40  208.4086  204.0300  204.77  1817087
2019-05-02 04:00:00+00:00  204.43  206.2200  203.1200  205.05  1394726
2019-05-03 04:00:00+00:00  206.01  208.7500  205.6700  207.49  1749672
2019-05-06 04:00:00+00:00  202.80  206.9800  201.7100  206.43  1759564
2019-05-07 04:00:00+00:00  203.34  204.0000  201.0100  202.61  2445134
...                           ...       ...       ...     ...      ...
2021-05-28 04:00:00+00:00  372.00  373.0700  368.2600  372.06  1724245
2021-06-01 04:00:00+00:00  377.70  383.3600  376.3100  382.35  3241763
2021-06-02 04:00:00+00:00  383.56  384.6650  379.3700  383.46  2225715
2021-06-03 04:00:00+00:00  382.67  391.2500  380.1349  388.71  2740101
2021-06-04 04:00:00+00:00  389.68  392.0500  386.3200  391.45  2198261

[529 rows x 50 columns]

In [57]:
#Medium High Risk portfolio(70% stocks and 30% bonds)
medium_high_risk_portfolio = portfolio_prices_df[["AAPL","AMZN", "BA","NVDA","BRK.A","GS","COP","TLT","VGLT","VOOG"]]
medium_high_risk_portfolio

                             AAPL                                        \
                             open      high      low    close    volume
time
2019-05-01 04:00:00+00:00  209.88  215.3100  209.230  210.520  57751414
2019-05-02 04:00:00+00:00  209.84  212.6500  208.130  209.170  29014844
2019-05-03 04:00:00+00:00  210.74  211.8400  210.230  211.780  17987793
2019-05-06 04:00:00+00:00  204.29  208.8400  203.500  208.600  28949691
2019-05-07 04:00:00+00:00  205.88  207.4175  200.825  202.860  34328425
...                           ...       ...      ...      ...       ...
2021-05-28 04:00:00+00:00  125.57  125.8000  124.550  124.620  61946057
2021-06-01 04:00:00+00:00  125.07  125.3500  123.940  124.300  58891765
2021-06-02 04:00:00+00:00  124.29  125.2400  124.050  125.090  51393692
2021-06-03 04:00:00+00:00  124.66  124.8500  123.130  123.555  68331470
2021-06-04 04:00:00+00:00  124.07  126.1600  123.850  125.880  63613126

                              AMZN                                          \
                              open       high        low    close   volume
time
2019-05-01 04:00:00+00:00  1933.09  1943.6400  1910.5500  1911.29  2814558
2019-05-02 04:00:00+00:00  1913.33  1921.5500  1881.8700  1901.72  3641665
2019-05-03 04:00:00+00:00  1949.00  1964.4000  1936.0000  1961.76  5687567
2019-05-06 04:00:00+00:00  1917.98  1959.0000  1910.5000  1950.29  4911645
2019-05-07 04:00:00+00:00  1939.99  1949.1005  1903.3795  1922.58  5451477
...                            ...        ...        ...      ...      ...
2021-05-28 04:00:00+00:00  3244.81  3247.9900  3219.7000  3224.68  2057533
2021-06-01 04:00:00+00:00  3242.98  3250.9800  3209.0600  3218.65  2074039
2021-06-02 04:00:00+00:00  3222.01  3235.0000  3208.0000  3234.92  1679415
2021-06-03 04:00:00+00:00  3205.00  3214.4350  3184.0300  3187.94  2079219
2021-06-04 04:00:00+00:00  3212.58  3221.0000  3198.8100  3206.22  1955470

                           ...    VGLT                                     \
                           ...    open    high      low   close    volume
time                       ...
2019-05-01 04:00:00+00:00  ...  76.070  76.540  76.0100  76.170  401923.0
2019-05-02 04:00:00+00:00  ...  76.050  76.135  75.6864  75.830   74290.0
2019-05-03 04:00:00+00:00  ...  76.070  76.160  75.8930  76.060   54630.0
2019-05-06 04:00:00+00:00  ...  76.460  76.500  76.2500  76.290  427971.0
2019-05-07 04:00:00+00:00  ...  76.590  76.950  76.5168  76.860  140207.0
...                        ...     ...     ...      ...     ...       ...
2021-05-28 04:00:00+00:00  ...  84.420  84.830  84.3200  84.320  481233.0
2021-06-01 04:00:00+00:00  ...  83.970  84.190  83.6300  84.180  514608.0
2021-06-02 04:00:00+00:00  ...  84.350  84.500  84.2400  84.338  382701.0
2021-06-03 04:00:00+00:00  ...  84.325  84.340  83.9600  84.050  464158.0
2021-06-04 04:00:00+00:00  ...  84.380  85.140  84.3800  85.140  436257.0

                             VOOG
                             open      high       low   close  volume
time
2019-05-01 04:00:00+00:00  161.15  161.1500  159.1500  159.15   99025
2019-05-02 04:00:00+00:00  159.18  159.5425  157.8400  158.85   74749
2019-05-03 04:00:00+00:00  159.86  160.8100  159.7125  160.69   89219
2019-05-06 04:00:00+00:00  157.98  160.3400  157.8920  160.18  101374
2019-05-07 04:00:00+00:00  158.71  159.1100  156.2200  157.46  141574
...                           ...       ...       ...     ...     ...
2021-05-28 04:00:00+00:00  249.16  249.9187  248.5500  248.64   42638
2021-06-01 04:00:00+00:00  249.79  249.7900  247.2350  247.41   69932
2021-06-02 04:00:00+00:00  247.84  248.5476  246.9050  247.85   39023
2021-06-03 04:00:00+00:00  246.09  246.9300  244.9600  246.05   53405
2021-06-04 04:00:00+00:00  247.37  249.6100  247.3700  249.35   38915

[529 rows x 50 columns]

In [54]:
#High Risk portfolio(80% stocks and 20% cryptocurrency)

In [73]:
high_risk_portfolio=  portfolio_prices_df[["AAPL","AMZN", "BA","NVDA","BRK.A","GS","COP","GILD","BTC","ETH"]]
high_risk_portfolio

                             AAPL                                        \
                             open      high      low    close    volume
time
2019-05-01 04:00:00+00:00  209.88  215.3100  209.230  210.520  57751414
2019-05-02 04:00:00+00:00  209.84  212.6500  208.130  209.170  29014844
2019-05-03 04:00:00+00:00  210.74  211.8400  210.230  211.780  17987793
2019-05-06 04:00:00+00:00  204.29  208.8400  203.500  208.600  28949691
2019-05-07 04:00:00+00:00  205.88  207.4175  200.825  202.860  34328425
...                           ...       ...      ...      ...       ...
2021-05-28 04:00:00+00:00  125.57  125.8000  124.550  124.620  61946057
2021-06-01 04:00:00+00:00  125.07  125.3500  123.940  124.300  58891765
2021-06-02 04:00:00+00:00  124.29  125.2400  124.050  125.090  51393692
2021-06-03 04:00:00+00:00  124.66  124.8500  123.130  123.555  68331470
2021-06-04 04:00:00+00:00  124.07  126.1600  123.850  125.880  63613126

                              AMZN                                          \
                              open       high        low    close   volume
time
2019-05-01 04:00:00+00:00  1933.09  1943.6400  1910.5500  1911.29  2814558
2019-05-02 04:00:00+00:00  1913.33  1921.5500  1881.8700  1901.72  3641665
2019-05-03 04:00:00+00:00  1949.00  1964.4000  1936.0000  1961.76  5687567
2019-05-06 04:00:00+00:00  1917.98  1959.0000  1910.5000  1950.29  4911645
2019-05-07 04:00:00+00:00  1939.99  1949.1005  1903.3795  1922.58  5451477
...                            ...        ...        ...      ...      ...
2021-05-28 04:00:00+00:00  3244.81  3247.9900  3219.7000  3224.68  2057533
2021-06-01 04:00:00+00:00  3242.98  3250.9800  3209.0600  3218.65  2074039
2021-06-02 04:00:00+00:00  3222.01  3235.0000  3208.0000  3234.92  1679415
2021-06-03 04:00:00+00:00  3205.00  3214.4350  3184.0300  3187.94  2079219
2021-06-04 04:00:00+00:00  3212.58  3221.0000  3198.8100  3206.22  1955470

                           ...  BTC                          ETH           \
                           ... open high low close volume   open     high
time                       ...
2019-05-01 04:00:00+00:00  ...  NaN  NaN NaN   NaN    NaN  22.29  22.2900
2019-05-02 04:00:00+00:00  ...  NaN  NaN NaN   NaN    NaN  21.85  22.5100
2019-05-03 04:00:00+00:00  ...  NaN  NaN NaN   NaN    NaN  22.51  22.6200
2019-05-06 04:00:00+00:00  ...  NaN  NaN NaN   NaN    NaN  22.22  23.0400
2019-05-07 04:00:00+00:00  ...  NaN  NaN NaN   NaN    NaN  22.96  23.1100
...                        ...  ...  ...  ..   ...    ...    ...      ...
2021-05-28 04:00:00+00:00  ...  NaN  NaN NaN   NaN    NaN  29.60  29.8299
2021-06-01 04:00:00+00:00  ...  NaN  NaN NaN   NaN    NaN  28.99  29.8100
2021-06-02 04:00:00+00:00  ...  NaN  NaN NaN   NaN    NaN  29.90  30.1352
2021-06-03 04:00:00+00:00  ...  NaN  NaN NaN   NaN    NaN  29.49  29.6100
2021-06-04 04:00:00+00:00  ...  NaN  NaN NaN   NaN    NaN  29.54  29.8000


                             low  close  volume
time
2019-05-01 04:00:00+00:00  21.42  21.83  552271
2019-05-02 04:00:00+00:00  21.85  22.42  270820
2019-05-03 04:00:00+00:00  22.42  22.55  164671
2019-05-06 04:00:00+00:00  22.21  23.03  299222
2019-05-07 04:00:00+00:00  22.32  22.44  245538
...                          ...    ...     ...
2021-05-28 04:00:00+00:00  28.82  28.87  232004
2021-06-01 04:00:00+00:00  28.88  29.80  349337
2021-06-02 04:00:00+00:00  29.45  29.54  209729
2021-06-03 04:00:00+00:00  29.02  29.42  219361
2021-06-04 04:00:00+00:00  29.32  29.75  205036

[529 rows x 50 columns]